/* Adicionar aqui toda a estilização criada para sua aplicação. */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: black;
}

:root{
    --tamanho-header: 80px;
    --tamanho-banner: calc(55vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;



}

.header{
     height: var(--tamanho-header);
     border-bottom: 2px solid #32b9cd;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.header a {
    text-decoration: none;
    color: #efedeb;

}

.agora{
    font-weight: 800;

}

.navbar{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;
}

.titulo{
    color: #32b9cd;
    width: fit-content;
    font-weight: 300;
}

.banner{
    height: var(--tamanho-banner);
    color: rgb(255, 254, 254);
    background-image:  url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
    
    
}

.banner .container{
    justify-content: center;
    align-items: center;
    height: 30%;
}

.banner .container p {
    width: 70%;
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.banner .container span{
    font-weight: 800;

}

.social{
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
       
}
.social .container .boxes{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 30px 0;
    flex-direction: column;
}

.box{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.box img {
    
    width: 130px;
    
}

/*  footer */

.footer{
    background-color: #32b9cd;
    height: 150px;
    color: #fff;
    display: flex;
    font-size: 15px;
}

.footer .container{
    justify-content: center;
    align-items: center;

}

.version{
    font-size: 12px;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: black;
    background-image: url("../assets/imgs/bg-jelly-fish-para_outras_pags.png");
}


.header{
    background-color: black;
    
}

.container h2{
    color: #d27293;
    justify-content: center;
    display: flex;

}

.container{
    display: flex;
    justify-content: center;
    padding: 80px;
    
}

.container .card{
    justify-content: center;
    background-color: #e5e5e5;
    border-radius: 10px;
    padding: 20px;
    width: 700px;
    margin-top: 10px ;
    margin-bottom: 10px;
    
}

span{
    color: #faf5f7;
    font-family: 'Barlow', sans-serif;
    
}

.formulario{
 padding: 5%;
 
}

.campo{
    padding: 2%;
}


input{
 border-radius: 5px;
 border:2px solid #32b9cd;
 font-family: 'Barlow', sans-serif;
 width: 90%;
 text-align: center;
 padding: 1%;
}

.botao{
    color: white;
    padding: 3px;
    border-radius: 5px;
    background-color: #cd3268;
    margin-top: 3%;
    margin-left: 40%;
    width: 100px;
    height: 40px;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    
}

.img_social{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}









